body {
    background-color: black;
    display: flex;
    justify-content: center;
}

.post {
    width: 500px;
    height: 600px;
    border: 1px solid red;
    background-color: lightgrey;
    margin-top: 10px;
}
.post-header {
    display: flex;
    border: 1px solid blue;
    padding: 0 10px;
}

.header-icon {
    margin: auto 0 ;  
}
.fa-ellipsis-vertical{
    margin-left: auto;
    margin-right: 0;
}
.header-title {
    margin: 0;
}